
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Welcome to ResellerApp</h1>
    
    <h3>This application manages informations about your resellers and their stores that sell prodocts from your company.</h3>
    <p class="lead">Author: Sofie Dam</p>
    <p><a href="@Url.Action("List", "CompanyStore")" class="btn btn-primary btn-lg">Start Now!</a></p>
    
</div>


