
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Welcome to MyApplication</h1>
    <h3>Consid Web Exercise - For Backend Developers</h3>
    <h4></h4>
    <p class="lead">Author: Sofie Dam</p>
    <p><a href="@Url.Action("List", "CompanyStore")" class="btn btn-primary btn-lg">Start Now!</a></p>
    
</div>


